<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向mapper接口 -->
<mapper namespace="com.ccut.ebusiness.module.school.mapper.StudentMapper">

    <select id="execSQL" parameterType="com.ccut.ebusiness.module.tool.Page" resultType="map">
        ${exec_sql}
    </select>

    <select id="getStudentList" resultType="map">
        select * from student where deltag = '0' order by c_time desc
    </select>


</mapper>
